@import url('https://fonts.loli.net/css2?family=Noto+Serif+SC:wght@200;300;400;700;900&family=Roboto+Mono&display=swap');
.view-content{
  font-family: "Noto Serif SC", sans-serif;
  font-size:21px;
  font-weight:400;
  line-height:35px;
}